.cont{
    margin: auto;
    margin-top: 17%;
    border-radius: 12px;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 14px 14px 5px 0px rgba(0, 0, 0, 0.486);
}

h2{
    font-size: 30px;
    color: rgb(75, 0, 146);
    padding: 2.5px;
    padding-left: 20px;
}

h1{
    background-color: rgb(75, 0, 146);
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
